.footer-container {
  background: linear-gradient(135deg, #68060e, #af1d1d);
  color: #fff;
  padding: 40px 20px;
  font-family: 'Segoe UI', sans-serif;
  width: 100%;
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.footer-image img {
  width: 250px;
  border-radius: 20px;
  margin-top: 4rem;
  object-fit: cover;
}

.footer-info {
  flex: 1;
  min-width: 240px;
}

.footer-info h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: white;
}

.footer-info p {
  margin-bottom: 20px;
  line-height: 1.6;
  font-size: 16px;
}

.footer-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.footer-block {
  flex: 1;
  min-width: 200px;
}

.footer-block h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

.footer-block p {
  font-size: 14px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  color: #fff;
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.social-icon {
  width: 40px;
  height: 40px;
  background: #fff;
  color: #040324;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, background 0.3s;
}

.social-icon:hover {
  background: #72030c;
  color: #fff;
  transform: scale(1.1);
}

.footer-bottom {
  font-size: 14px;
  color: #aaa;
  justify-content: center;
  margin-top: 10px;

}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-image img {
    width: 80%;
    margin-bottom: 20px;
  }

  .footer-grid {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-block {
    min-width: 100%;
  }

  .footer-links {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .social-icons {
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer-info h2 {
    font-size: 20px;
  }

  .footer-info p {
    font-size: 14px;
  }
}

@media (max-width: 280px) {
  .footer-info h2 {
    font-size: 18px;
  }

  .footer-info p,
  .footer-block p,
  .footer-block h4,
  .footer-links a,
  .footer-bottom {
    font-size: 13px;
  }

  .social-icon {
    width: 36px;
    height: 36px;
  }
}